<script context="module">
  import { Spinner } from '../../lib/packages/spinner/src';
  import { Button } from '../../lib/packages/button/src';
  
  import {
    SPINNER_SIZES,
    SPINNER_COLORS
  } from '../../lib/packages/spinner/src/Spinner.svelte';
  
  export const meta = {
    title: 'Components/Spinner',
    component: Spinner,
    argTypes: {
      size: {
        description: 'Specify the size of the spinner',
        table: {
          type: { summary: 'string' },
          defaultValue: { summary: '12' }
        },
        control: {
          type: 'select'
        },
        options: Object.keys(SPINNER_SIZES),
      },
      color: {
        description: 'Specify the color of the spinner',
        table: {
          type: { summary: 'string' },
          defaultValue: { summary: 'primary' }
        },
        control: {
          type: 'select'
        },
        options: Object.keys(SPINNER_COLORS)
      },
      inverse: {
        description: 'Specify if the spinner should be inverse',
        table: {
          type: { summary: 'boolean' },
          defaultValue: { summary: 'false' }
        },
        control: {
          type: 'boolean'
        }
      },
      customColor: {
        description: 'Specify the custom color of the spinner by providing the text and fill color classes',
        table: {
          type: { summary: 'string' }
        },
        control: {
          type: 'text'
        }
      },
      currentFill: {
        description: 'Specify the current fill color of the spinner',
        table: {
          type: { summary: 'string' }
        },
        control: {
          type: 'color'
        }
      },
      currentColor: {
        description: 'Specify the current color of the spinner',
        table: {
          type: { summary: 'string' }
        },
        control: {
          type: 'color'
        }
      },
      SPINNER_SIZES: {
        table: { disable: true }
      },
      SPINNER_COLORS: {
        table: { disable: true }
      },
      SPINNER_DEFAULTS: {
        table: { disable: true }
      }
    }
  };
</script>

<script>
  import { Story } from '@storybook/addon-svelte-csf';
  
  export let defaultArgs = {
    size: '12',
    color: 'primary',
    inverse: false,
    customColor: '',
  };
</script>

<!-- Playground -->
<Story name="Playground" let:args args={defaultArgs}>
  <Spinner {...args}>Loading...</Spinner>
</Story>

<!-- Sizes -->
<Story name="Sizes" let:args args={defaultArgs}>
  <div class="flex gap-4 mb-8">
    {#each Object.keys(SPINNER_SIZES).sort((a, b) => a-b) as size}
      <div>
        <p class="typography-body-regular-body30 mb-2 text-center">{size}</p>
        <Spinner {...args} size={size} >Loading...</Spinner>
      </div>
    {/each}
  </div>
</Story>

<!-- Colors -->
<Story name="Colors" let:args args={defaultArgs}>
  <div class="flex gap-4 mb-8">
    {#each Object.keys(SPINNER_COLORS) as color}
      <div class="flex flex-col justify-center items-center">
        <p class="typography-body-regular-body30 mb-2 text-center">{color}</p>
        <Spinner {...args} color={color} >Loading...</Spinner>
      </div>
    {/each}
  </div>

  <div class="flex gap-4">
    {#each Object.keys(SPINNER_COLORS) as color}
      <div class="flex flex-col justify-center items-center">
        <p class="typography-body-regular-body30 mb-2 text-center">
          {color}
          <br />
          inverse
        </p>
        <Spinner {...args} color={color} inverse >Loading...</Spinner>
      </div>
    {/each}
  </div>
</Story>

<!--With Buttons-->
<Story name="With Buttons" let:args args={defaultArgs}>
  <div class="flex gap-4">
    <Button type="primary">
      <Spinner {...args} inverse size="5">Loading...</Spinner>
      Loading...
    </Button>
    <Button>
      <Spinner {...args} inverse size="5">Loading...</Spinner>
      Loading...
    </Button>
    <Button>
      <Spinner {...args} inverse size="5">Loading...</Spinner>
      Loading...
    </Button>
  </div>
</Story>

<!--Custom Color-->
<Story name="Custom Color" let:args args={defaultArgs}>
  <div class="flex gap-4">
    <Spinner {...args} customColor="text-red-800 fill-red-100" color="custom">Loading...</Spinner>
    <Spinner {...args} customColor="text-green-800 fill-green-100" color="custom">Loading...</Spinner>
    <Spinner {...args} customColor="text-gray-800 fill-gray-100" color="custom">Loading...</Spinner>
  </div>
</Story>

<!--CurrentFill-->
<Story name="CurrentFill" let:args args={defaultArgs}>
  <div class="flex gap-4">
    <Spinner {...args} currentFill="#ebebeb" currentColor="green">Loading...</Spinner>
    <Spinner {...args} currentFill="#ebebeb" currentColor="red">Loading...</Spinner>
    <Spinner {...args} currentFill="#ebebeb" currentColor="blue">Loading...</Spinner>
  </div>
</Story>