<script>
  import { Meta, Story } from '@storybook/addon-svelte-csf';
  import { FIGMA_DESIGN_SOURCES } from "../constants";
  import { theme } from "../../lib/packages/tailwind-config/src/theme";
  
  const maybeOpacity = (value) => {
    if(value.includes('_')) {
      return value.split('-')[1].replace('_', '% opacity');
    }
  
    return '';
  };
  
  const remToPx = (rem) => {
    if (typeof rem === 'string' && rem.includes('rem')) {
      return Number(rem.replace('rem', '')) * 16 + 'px';
    }
    
    return '';
  };
  
  const sortedSpacing = Object.entries(theme?.spacing).sort((a, b) => b[0] - a[0]).reverse();
  
  const typographyUtilityNames = {
    display: [
      'typography-display-display140',
      'typography-display-display120',
      'typography-display-display110',
      'typography-display-display100',
      'typography-display-display90',
      'typography-display-display80',
    ],
    heading: [
      'typography-heading-medium-heading70',
      'typography-heading-medium-heading60',
      'typography-heading-medium-heading50',
      'typography-heading-medium-heading40',
      'typography-heading-medium-heading30',
      'typography-heading-medium-heading20',
      'typography-heading-medium-heading10',
      
      'typography-heading-semibold-heading70',
      'typography-heading-semibold-heading60',
      'typography-heading-semibold-heading50',
      'typography-heading-semibold-heading40',
      'typography-heading-semibold-heading30',
      'typography-heading-semibold-heading20',
      'typography-heading-semibold-heading10',
    ],
    body: [
      'typography-body-regular-body60',
      'typography-body-regular-body50',
      'typography-body-regular-body40',
      'typography-body-regular-body30',
      'typography-body-regular-body20',
      'typography-body-regular-body10',
      
      'typography-body-medium-body60',
      'typography-body-medium-body50',
      'typography-body-medium-body40',
      'typography-body-medium-body30',
      'typography-body-medium-body20',
      'typography-body-medium-body10',
      
      'typography-body-semibold-body60',
      'typography-body-semibold-body50',
      'typography-body-semibold-body40',
      'typography-body-semibold-body30',
      'typography-body-semibold-body20',
      'typography-body-semibold-body10',
    ],
    subtitle: [
      'typography-subtitle-subtitle50',
      'typography-subtitle-subtitle40',
      'typography-subtitle-subtitle30',
      'typography-subtitle-subtitle20',
      'typography-subtitle-subtitle10',
    ],
    link: [
      'typography-link-regular-link50',
      'typography-link-regular-link40',
      'typography-link-regular-link30',
      'typography-link-regular-link20',
      'typography-link-regular-link10',
      
      'typography-link-medium-link50',
      'typography-link-medium-link40',
      'typography-link-medium-link30',
      'typography-link-medium-link20',
      'typography-link-medium-link10',
      
      'typography-link-semibold-link50',
      'typography-link-semibold-link40',
      'typography-link-semibold-link30',
      'typography-link-semibold-link20',
      'typography-link-semibold-link10',
    ],
    capital: [
      'typography-capital-capital10',
      'typography-capital-capital20',
    ],
  }
</script>

<Meta
  title="Theme/Tailwind Configuration"
  parameters={{
    design: {
      type: 'figma',
      url: FIGMA_DESIGN_SOURCES.THEME,
    },
  }}
/>

<!--Theme Colors-->
<Story name="Color Pallete">
  {#each Object.entries(theme?.colors) as [name, color]}
    {#if typeof color === 'object'}
      <div class="sb-color p-5 grid gap-2">
        <div class="text-lg capitalize">{name}</div>
        <div class="grid gap-2 items-baseline flex-wrap lg:grid-cols-10 md:grid-cols-9 text-xs sm:grid-cols-6 grid-cols-4">
          {#each Object.entries(color) as [shade, value]}
            {#if typeof value === 'string'}
              <div class="text-center flex justify-center flex-col items-center">
                <div class="my-0.5 shadow-md w-18 h-10 rounded flex items-center justify-center p-2" style="background-color: {value};">
                  <span class="text-xs text-center">{maybeOpacity(shade)}</span>
                </div>
                
                <span class="sb-color-name text-center text-base rounded">{shade}</span>
                <span class="sb-color-name py-0.5 px-1 break-words text-center text-xs bg-neutral-600 rounded text-orange-400 leading-3">{value}</span>
              </div>
            {/if}
          {/each}
        </div>
      </div>
    {/if}
  {/each}
</Story>

<!--Theme Spacings-->
<Story name="Spacings">
  <div class="sb-spacing p-5 grid gap-2">
    <div class="text-lg capitalize">Spacing</div>
    <div class="grid items-center gap-2 flex-wrap lg:grid-cols-10 md:grid-cols-9 text-xs sm:grid-cols-6 grid-cols-4">
      {#each sortedSpacing as [name, value]}
        <div class="text-center flex justify-center flex-col items-center">
          <div class="my-0.5 shadow-md w-18 h-10 rounded flex items-center justify-center p-2">
            <span class="text-xs text-center">
              {[value, remToPx(value)].filter((value) => value).join(' / ')}
            </span>
          </div>
          <span class="sb-color-name text-center text-base rounded">{name}</span>
        </div>
      {/each}
    </div>
  </div>
</Story>

<!--Theme Typography Utility classes-->
<Story name="Typography">
  <div class="sb-typography p-5 grid gap-2">
    <div class="text-lg capitalize text-center">Typography</div>
    
    {#each Object.entries(typographyUtilityNames) as [name, value]}
      <p class="text-lg text-center">Category: <b class="capitalize">{name}</b></p>
        {#each value as className}
          <div class="flex items-center justify-start gap-3">
            <span class="sb-color-name text-center text-base rounded bg-secondary-on-surface-dim text-secondary-on-surface-fixed-light p-1">{className}</span>
            <span class={`sb-color-name text-center text-base rounded ${className}`}>Typography</span>
          </div>
        {/each}
    {/each}
  </div>
</Story>