<script context="module" lang="ts">
  export const BUTTON_SIZES = {
    "x-small": 'x-small',
    "small": 'small',
    "medium": 'medium',
    "large": 'large',
  } as const;
  
  export const BUTTON_TYPES = {
    primary: 'primary',
    secondary: 'secondary',
    tertiary: 'tertiary',
    clear: 'clear',
    error: 'error',
    warning: 'warning',
  } as const;
  
  export const BUTTON_SHAPES = {
    rounded: 'rounded',
    'rounded-full': 'rounded-full',
    'none': 'rounded-none',
  } as const;
  
  const BUTTON_DEFAULTS = {
    size: BUTTON_SIZES.medium,
    type: BUTTON_TYPES.primary,
    shape: BUTTON_SHAPES.rounded,
  } as const;
  
</script>

<script lang="ts">
  import { Button } from 'flowbite-svelte';
  
  /**
   * Specify the size of the button.
   * @default 'medium'
   * @type {'x-small' | 'small' | 'medium' | 'large'}
   */
  export let size: keyof typeof BUTTON_SIZES = BUTTON_DEFAULTS.size;
  
  /**
   * Specify the type of the button.
   * @default 'primary'
   * @type {'primary' | 'secondary' | 'tertiary' | 'clear' | 'error' | 'warning'}
   */
  export let type: keyof typeof BUTTON_TYPES = BUTTON_DEFAULTS.type;
  /**
   * Specify the shape of the button.
   * @default 'rounded'
   * @type {'rounded' | 'rounded-full' | 'none'}
   */
  export let shape: keyof typeof BUTTON_SHAPES = BUTTON_DEFAULTS.shape;
  /**
   * Specify if the button is disabled.
   * @default false
   * @type {boolean}
   */
  export let disabled: boolean = false;
  /**
   * Specify if the button should have a pulse animation.
   * @default false
   * @type {boolean}
   */
  export let animation: boolean = false;
  
  export let skeleton: boolean = false;
  
  export let rtl: boolean = false;
  
  export let outline: boolean = false;
  
  export let tag: string = 'button';
  
  export let href: string = '';
  
  export let stretch: boolean = false;
  
  const sizeClasses = {
    'x-small': 'px-3.5 py-1.5 max-h-8 min-w-fit gap-x-1 typography-link-medium-link20',
    small: 'px-4 py-2 max-h-9 min-w-fit gap-x-1 typography-link-medium-link20',
    medium: 'px-4.5 py-2.5 max-h-10 min-w-fit gap-x-1.5 typography-link-medium-link20',
    large: 'px-5 py-2.5 max-h-10.5 min-w-fit gap-x-2 typography-link-medium-link30',
  };
  
  const shapeClasses = {
    rounded: 'rounded',
    'rounded-full': 'rounded-full',
    'none': 'rounded-none',
  };
  
  const colorClasses = {
    primary: `bg-primary-surface-default border-transparent text-primary-on-surface-fixed-light
     active:bg-primary-surface-dim active:text-primary-on-surface-fixed-light active:border-transparent
     hover:bg-primary-on-surface-cloudy hover:text-primary-on-surface-fixed-light hover:border-transparent
     focus:outline-primary-border-ring
     aria-disabled:bg-primary-surface-disabled aria-disabled:text-primary-on-surface-fixed-light aria-disabled:border-transparent
  `,
    secondary: `
      bg-secondary-surface-default border-transparent text-secondary-on-surface-default
      active:bg-secondary-surface-dim active:text-secondary-on-surface-dim active:border-transparent
      hover:bg-secondary-surface-cloudy hover:text-secondary-on-surface-cloudy hover:border-transparent
      focus:outline-secondary-border-ring
      aria-disabled:bg-secondary-surface-disabled aria-disabled:text-secondary-on-surface-disabled aria-disabled:border-transparent
    `,
    tertiary: `
      bg-tertiary-surface-default border-transparent text-tertiary-on-surface-inverse
      active:bg-tertiary-surface-dim active:text-tertiary-on-surface-inverse active:border-transparent
      hover:bg-tertiary-surface-cloudy hover:text-tertiary-on-surface-inverse hover:border-transparent
      focus:outline-tertiary-border-ring
      aria-disabled:bg-tertiary-surface-disabled aria-disabled:text-tertiary-on-surface-inverse aria-disabled:border-transparent
    `,
    clear: `
      bg-clear-surface-default border-transparent text-clear-on-surface-default
      active:bg-clear-surface-dim active:text-clear-on-surface-dim active:border-transparent
      hover:bg-clear-surface-cloudy hover:text-clear-on-surface-cloudy hover:border-transparent
      focus:outline-clear-border-ring
      aria-disabled:bg-clear-surface-disabled aria-disabled:text-clear-on-surface-disabled aria-disabled:border-transparent
    `,
    error: `
      bg-error-surface-default border-transparent text-error-on-surface-fixed-light
      active:bg-error-surface-dim active:text-error-on-surface-fixed-light active:border-transparent
      hover:bg-error-surface-cloudy hover:text-error-on-surface-fixed-light hover:border-transparent
      focus:outline-error-border-default
      aria-disabled:bg-error-surface-disabled aria-disabled:text-error-on-surface-fixed-light aria-disabled:border-transparent
    `,
    warning: `
      bg-warning-surface-default border-transparent text-warning-on-surface-fixed-light
      active:bg-warning-surface-dim active:text-warning-on-surface-fixed-light active:border-transparent
      hover:bg-warning-surface-cloudy hover:text-warning-on-surface-fixed-light hover:border-transparent
      focus:outline-warning-border-ring
      aria-disabled:bg-warning-surface-disabled aria-disabled:text-warning-on-surface-fixed-light aria-disabled:border-transparent
    `,
  };

  
  $: colorOutlineClasses = {
    primary: `
      bg-transparent border-primary-border-default text-primary-on-surface-default
    
      active:bg-primary-surface-subtle-tint-40 active:text-primary-on-surface-dim active:border-primary-border-dim
      hover:bg-primary-surface-subtle-tint-20 hover:text-primary-on-surface-cloudy hover:border-primary-border-cloudy
      focus:outline-primary-border-ring
      aria-disabled:bg-transparent aria-disabled:text-primary-on-surface-disabled aria-disabled:border-primary-border-disabled
    `,
    
    secondary: `
      bg-transparent border-secondary-border-default text-secondary-on-surface-default
    
      active:bg-secondary-surface-subtle-tint-40 active:text-secondary-on-surface-dim active:border-secondary-border-dim
      hover:bg-secondary-surface-subtle-tint-20 hover:text-secondary-on-surface-cloudy hover:border-secondary-border-cloudy
      focus:outline-secondary-border-ring
      aria-disabled:bg-transparent aria-disabled:text-secondary-on-surface-disabled aria-disabled:border-secondary-border-disabled
    `,
    
    tertiary: `
      bg-transparent border-tertiary-border-default text-tertiary-on-surface-default
    
      active:bg-tertiary-surface-subtle-tint-40 active:text-tertiary-on-surface-dim active:border-tertiary-border-dim
      hover:bg-tertiary-surface-subtle-tint-20 hover:text-tertiary-on-surface-cloudy hover:border-tertiary-border-cloudy
      focus:outline-tertiary-border-ring
      aria-disabled:bg-transparent aria-disabled:text-tertiary-on-surface-disabled aria-disabled:border-tertiary-border-disabled
    `,
    clear: `
      bg-clear-surface-default border-clear-border-default text-clear-on-surface-default
      active:bg-clear-surface-dim active:text-clear-on-surface-dim active:border-clear-border-dim
      hover:bg-clear-surface-cloudy hover:text-clear-on-surface-cloudy hover:border-clear-border-cloudy
      focus:outline-clear-border-ring
      aria-disabled:bg-transparent aria-disabled:text-clear-on-surface-disabled aria-disabled:border-clear-border-disabled
    `,
    error: `
      bg-transparent border-error-border-default text-error-on-surface-default
      active:bg-error-surface-subtle-tint-40 active:text-error-on-surface-dim active:border-error-border-dim
      hover:bg-error-surface-subtle-tint-20 hover:text-error-on-surface-cloudy hover:border-error-border-cloudy
      focus:outline-error-border-default
      aria-disabled:bg-transparent aria-disabled:text-error-on-surface-disabled aria-disabled:border-error-on-surface-disabled
    `,
    warning: `
      bg-transparent border-warning-border-default text-warning-on-surface-default
      active:bg-warning-surface-subtle-tint-40 active:text-warning-on-surface-dim active:border-warning-border-dim
      hover:bg-warning-surface-subtle-tint-20 hover:text-warning-on-surface-cloudy hover:border-warning-border-cloudy
      focus:outline-warning-border-ring
      aria-disabled:bg-transparent aria-disabled:text-warning-on-surface-disabled aria-disabled:border-warning-border-disabled
    `,
  };
  
  $: type = type in BUTTON_TYPES ? type : BUTTON_DEFAULTS.type;
  $: baseClasses = 'inline-flex items-center justify-center text-center';
  $: buttonClasses = `${sizeClasses[size]} ${!outline ? colorClasses[type] : colorOutlineClasses[type]} ${disabled && 'cursor-not-allowed outline-0'} focus-within:ring-0 ${stretch ? 'w-full' : ''}`;
  $: disabledClasses = disabled ? 'cursor-not-allowed outline-0' : '';
  $: animationClasses = animation ? `pulse-animation` : '';
  $: rtlClasses = rtl ? 'flex-row-reverse' : '';
  $: focusClasses = `focus:outline focus:outline-[length:var(--focus-outline-width)] focus:outline-offset-[var(--focus-outline-offset)]`;
  $: outlineClasses = `border border-[line-width:var(--button-border-width)]`
</script>

{#if skeleton}
  <div data-testid="Skeleton"
       class={[
      baseClasses,
      buttonClasses,
      shapeClasses[shape],
      rtlClasses,
      'bg-slate-100 inline-flex animate-pulse border-slate-100',
      ].join(' ')}
  >
    <span class="invisible">
      <slot />
    </span>
  </div>
{:else if disabled}
  <svelte:element
    this={tag}
    aria-disabled={disabled}
    class={[
      baseClasses,
      outline && outlineClasses,
      buttonClasses,
      shapeClasses[shape],
      rtlClasses,
      disabledClasses
      ].join(' ')}
  >
    <slot />
  </svelte:element>
{:else}
  <Button
    class={[
      baseClasses,
      outline && outlineClasses,
      buttonClasses,
      animationClasses,
      shapeClasses[shape],
      rtlClasses,
      focusClasses,
      ].join(' ')}
    {...$$restProps}
    href={href}
    aria-label={!$$slots.default ? $$restProps['aria-label'] || 'Button' : undefined}
    style={`--button-animation-ring-color: var(--button-${type}${outline ? '-outline' : ''}-animation-ring-color); --button-animation-background-color: var(--button-${type}${outline ? '-outline' : ''}-animation-background-color);`}
    on:click
    on:change
    on:keydown
    on:keyup
    on:touchstart
    on:touchend
    on:touchcancel
    on:mouseenter
    on:mouseleave
  >
    <slot />
  </Button>
{/if}

<style>
  :root {
    --button-border-width: theme('borderWidth.DEFAULT');
    
    /* --------- Animation colors --------- */
    /*Primary*/
    --button-primary-animation-ring-color: theme('colors.primary-border.bright');
    --button-primary-animation-background-color: theme('colors.primary-surface.bright');
  
    /*outline*/
    --button-primary-outline-animation-ring-color: theme('colors.primary-border.bright');
    --button-primary-outline-animation-background-color: theme('colors.transparent');
    
    /*Secondary*/
    
    --button-secondary-animation-ring-color: theme('colors.secondary-border.bright');
    --button-secondary-animation-background-color: theme('colors.secondary-surface.default');
    
    /*outline*/
    --button-secondary-outline-animation-background-color: theme('colors.transparent');
    --button-secondary-outline-animation-ring-color: theme('colors.secondary-border.bright');
    
    /*Tertiary*/
    
    --button-tertiary-animation-ring-color: theme('colors.tertiary-border.bright');
    --button-tertiary-animation-background-color: theme('colors.tertiary-surface.bright');
    
    /*outline*/
    --button-tertiary-outline-animation-background-color: theme('colors.transparent');
    --button-tertiary-outline-animation-ring-color: theme('colors.tertiary-border.bright');
    
    /*Clear*/
    
    --button-clear-animation-ring-color: theme('colors.clear-border.default');
    --button-clear-animation-background-color: theme('colors.clear-surface.default');
    
    /*outline*/
    --button-clear-outline-animation-background-color: theme('colors.transparent');
    --button-clear-outline-animation-ring-color: theme('colors.clear-border.bright');
    
    /*Error*/
    
    --button-error-animation-ring-color: theme('colors.error-border.bright');
    --button-error-animation-background-color: theme('colors.error-surface.bright');
    
    /*outline*/
    --button-error-outline-animation-background-color: theme('colors.transparent');
    --button-error-outline-animation-ring-color: theme('colors.error-border.bright');
    
    
    /*Warning*/
    --button-warning-animation-ring-color: theme('colors.warning-border.bright');
    --button-warning-animation-background-color: theme('colors.warning-surface.bright');
    
    /*outline*/
    --button-warning-outline-animation-ring-color: theme('colors.warning-border.bright');
    --button-warning-outline-animation-background-color: theme('colors.transparent');
    
    --focus-outline-offset: theme('outlineOffset.2');
    --focus-outline-width: theme('outlineWidth.2');
  }
  
  /* --------- Button Animation --------- */
  
  :global(.pulse-animation) {
    animation: animate 2.6s ease-out infinite;
    will-change: outline, opacity, border-color, background-color;
    transition:
      border-color 0.3s ease-out,
      background-color 0.3s ease-out,
      outline-width 0.3s ease-out;
    
    &:disabled,
    &:active,
    &:hover,
    &:visited,
    &:focus,
    &:focus-within,
    &:focus-visible {
      animation-name: none;
      transition: none;
    }
  }
  
  @keyframes animate {
    5% {
      outline: theme('outlineWidth.1') solid var(--button-animation-ring-color);
      outline-offset: 0;
    }
    15% {
      --button-background-color: var(--button-animation-background-color);
      --button-border-color: transparent;
      
      outline: 2px solid var(--button-animation-ring-color);
      outline-offset: 0;
    }
    42% {
      outline: theme('outlineWidth.8') solid theme('colors.transparent');
    }
    100% {
      outline: theme('outlineWidth.0') solid theme('colors.transparent');
    }
  }
</style>
