<script lang="ts">
  // components
  // import ArrowIcon from '../ArrowIcon/ArrowIcon.svelte';
  import ChevronDownBold from '@glance-design/icons/ChevronDownBold';
  // constants
  import {
    ACCORDION_DEFAULT_PROPS,
    ARROW_SIZES,
    ACCORDION_VARIANTS,
  } from './constants';
  
  /**
   * The description of accordion icon for screen readers.
   * @type {string}
   */
  export let description: string = 'Expand/Collapse';
  /**
   * String content of the accordion toggle or aria-label for the accordion toggle button.
   * @type {string}
   */
  export let label: string = '';
  /**
   * Specifies the icon direction of the accordion title.
   * @type {boolean}
   */
  export let rtl: boolean = ACCORDION_DEFAULT_PROPS.rtl;
  
  /**
   * The size of the accordion title.
   * @type {('x-small'|'small'|'medium'|'large')}
   */
  export let size: string = ACCORDION_DEFAULT_PROPS.size;
  
  /**
   * Specifies the accessibility id and aria-labelledby for the accordion content.
   * @type {string}
   */
  export let key: string = '';
  
  /**
   * Specifies the skeleton state of the accordion title.
   * @type {boolean}
   */
  export let skeleton: boolean = ACCORDION_DEFAULT_PROPS.skeleton;
  
  /**
   * Specifies the expanded state of the accordion title.
   * @type {boolean}
   */
  export let expanded: boolean = false;
  
  /**
   * Specifies the disabled state of the accordion title.
   * @type {boolean}
   */
  export let disabled: boolean = ACCORDION_DEFAULT_PROPS.disabled;
  
  export let variant: string = ACCORDION_DEFAULT_PROPS.variant;
</script>

{#if skeleton}
  <div
    data-testid="Accordion-title-skeleton"
    class={`skeleton accordion-button accordion-title-size--${size}`}
    class:accordion-variant--fill={variant === ACCORDION_VARIANTS.fill}
    class:accordion-title-rtl={rtl}
  >
    <span class="skeleton-item accordion-button--w-full" />
    <div class="accordion-button--flex">
      <span class="skeleton-item arrow" />
    </div>
  </div>
{:else}
  <button
    data-testid="accordion-button"
    class={`accordion-button accordion-title-size--${size}`}
    class:accordion-variant--fill={variant === ACCORDION_VARIANTS.fill}
    class:accordion-title-rtl={rtl}
    class:expanded={expanded}
    title={label}
    id="accordion-control-{key}"
    type="button"
    aria-label={label && !$$slots.default ? undefined : label || `Accordion Option ${key}`}
    aria-expanded={expanded}
    aria-controls={`accordion-${key}`}
    disabled={disabled}
    on:mouseenter
    on:click
  >
    {#if $$slots.default}
      <span><slot /></span>
    {:else}
      <span>{label}</span>
    {/if}
    <span class="arrow">
      <ChevronDownBold
        class={`${expanded ? 'icon--arrow-top' : ''}`}
        size={ARROW_SIZES[size]}
        title={{title: description}}
      />
    </span>
  </button>
{/if}

<style lang="postcss">
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: theme('borderColor.DEFAULT', currentColor); /* 2 */
  }
  
  button {
    font-family: inherit; /* 1 */
    font-feature-settings: inherit; /* 1 */
    font-variation-settings: inherit; /* 1 */
    font-size: 100%; /* 1 */
    font-weight: inherit; /* 1 */
    line-height: inherit; /* 1 */
    color: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0; /* 3 */
  }
  
  /*
  Remove the inheritance of text transform in Edge and Firefox.
  */
  
  button {
    text-transform: none;
  }
  
  /*
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Remove default button styles.
  */
  
  button,
  [type='button'] {
    -webkit-appearance: button; /* 1 */
    background-color: transparent; /* 2 */
    background-image: none; /* 2 */
  }
  
  /*
    Correct the cursor style of increment and decrement buttons in Safari.
  */
  
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  
  /*
  Set the default cursor for buttons.
  */
  
  button {
    cursor: pointer;
  }
  
  /*
  Use the modern Firefox focus style for all focusable elements.
  */
  
  :-moz-focusring {
    outline: auto;
  }
  
  .accordion-button--w-full {
    @apply w-full;
  }
  
  .accordion-button--flex {
    @apply flex;
  }
  
  .accordion-button {
    @apply flex items-center gap-3 w-full justify-between select-none border-none;
    @apply text-[theme('colors.neutral-on-surface.text-default')] not-italic typography-link-medium-link30;
    @apply text-left items-center rounded-[inherit];
    
    &[aria-expanded='true'] {
      @apply rounded-b-none;
    }
    
    &:focus,
    &:focus-visible,
    &:focus-within {
      @apply outline outline-3 outline-offset-[-3px] outline-[theme('colors.primary-border.ring')];
    }
    
    &:hover:not(:disabled),
    &:hover:not:has(.skeleton) {
      @apply bg-slate-200;
    }
    
    &:disabled {
      @apply cursor-not-allowed text-[theme('colors.neutral-on-surface.text-disabled')];
      
      & .arrow {
        @apply stroke-[theme('colors.neutral-on-surface.text-disabled')];
      }
    }
    
    & :global(.icon--arrow-top) {
      transform: rotate(180deg);
    }
  }
  
  .accordion-variant--fill {
    &:focus,
    &:focus-visible,
    &:focus-within {
      @apply outline-none;
    }
  }
  
  .arrow {
    @apply pt-0.5;
    @apply flex self-stretch items-baseline;
    @apply text-[theme('colors.neutral-on-surface.text-default')];
  }
  
  .accordion-title-size--large {
    @apply min-h-[theme('height.12')];
    @apply gap-3.5 py-2.5 pl-4.5 pr-3;
    @apply typography-link-medium-link40;
    
    &.accordion-title-rtl {
      @apply pl-3 pr-4.5;
    }
    
    &.skeleton {
      @apply gap-4;
      
      & .skeleton-item {
        @apply h-3;
      }
      
      & .arrow {
        @apply w-5 h-5;
      }
    }
  }
  
  .accordion-title-size--medium {
    @apply min-h-[theme('height.11')];
    @apply gap-3 py-2.5 pl-4 pr-3;
    @apply typography-link-medium-link30;
    
    &.accordion-title-rtl {
      @apply pl-3 pr-4;
    }
    
    &.skeleton {
      @apply gap-3.5;
      
      & .skeleton-item {
        @apply h-2.5;
      }
      
      & .arrow {
        @apply w-4.5 h-4.5;
      }
    }
  }
  
  .accordion-title-size--small {
    @apply min-h-[theme('height.10')];
    
    @apply gap-3 py-2 pl-3.5 pr-3;
    @apply typography-link-medium-link20;
    
    &.accordion-title-rtl {
      @apply pl-3 pr-4;
    }
    
    &.skeleton {
      @apply gap-3.5;
      
      & .skeleton-item {
        @apply h-2;
      }
      
      & .arrow {
        @apply w-4 h-4;
      }
    }
  }
  
  .accordion-title-size--x-small {
    @apply min-h-[theme('height.9')];
    
    @apply gap-3 py-2 px-3;
    @apply typography-link-medium-link10;
    
    &.skeleton {
      @apply gap-3.5;
      
      & .skeleton-item {
        @apply h-2;
      }
      
      & .arrow {
        @apply w-3.5 h-3.5;
      }
    }
  }
  
  .accordion-title-rtl {
    @apply flex-row-reverse justify-end;
  }
  
  .skeleton-item {
    @apply inline-flex h-3 bg-slate-200;
  }
</style>
