<script lang="ts">
  // lib
  import { slide } from "svelte/transition";
  // constants
  import { ACCORDION_DEFAULT_PROPS } from "./constants.js";
  
  /* -----  Props  ----- */
  
  /**
   * Specifies the accessibility id and aria-labelledby for the accordion content.
   * @type {string}
   */
  export let key = '';
  /**
   * Specifies the size of the accordion content.
   * @type {'large' | 'medium' | 'small' | 'x-small'}
   */
  export let size = ACCORDION_DEFAULT_PROPS.size;
  /**
   * Specifies the text direction of the accordion content.
   * @type {boolean}
   */
  export let rtl = ACCORDION_DEFAULT_PROPS.rtl;
  /**
   * Specifies the skeleton state of the accordion content.
   * @type {boolean}
   */
  export let skeleton = ACCORDION_DEFAULT_PROPS.skeleton;
  /**
   * Specifies the expanded state of the accordion content.
   * @type {boolean}
   */
  export let expanded = false;
  /**
   * Specifies the disabled state of the accordion content.
   * @type {boolean}
   */
  export let disabled = ACCORDION_DEFAULT_PROPS.disabled;
  
  $: className = [
    'accordion-content',
    `accordion-content-size--${size}`,
    rtl ? 'accordion-content-rtl' : '',
    skeleton ? 'skeleton' : '',
  ].join(' ');
</script>

{#if expanded && skeleton}
  <div data-testid="Accordion-content-skeleton" class={className}>
    <div class="skeleton-item" />
    <div class="skeleton-item" />
    <div class="skeleton-item" />
    <div class="skeleton-item" />
  </div>
{/if}

{#if expanded && !disabled && !skeleton}
  <div
    class={className}
    role="region"
    id="accordion-{key}"
    class:accordion-content--disabled={disabled}
    aria-hidden={!expanded}
    aria-labelledby="accordion-control-{key}"
    data-testid="accordion-content"
    transition:slide={{ duration: 300 }}
  >
    <slot />
  </div>
{/if}

<style lang="postcss">
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  * {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
  }
  
  .accordion-content {
    @apply text-[theme('colors.neutral-on-surface.dim')] not-italic font-normal rounded-b-[inherit] bg-transparent text-left;
  }
  
  .accordion-content--disabled {
    @apply cursor-not-allowed text-[theme('colors.neutral-on-surface.text-disabled')];
  }
  
  /*   ----- Sizing -------  */
  .accordion-content-size--large {
    @apply pl-4.5 pr-12 pt-3.5 pb-7;
    @apply typography-body-regular-body40;
    
    &.accordion-content-rtl {
      @apply pl-12 pr-4.5;
    }
    
    &.skeleton {
      & .skeleton-item {
        @apply h-4;
      }
    }
  }
  
  .accordion-content-size--medium {
    @apply pl-4 pb-6 pt-3 pr-11;
    @apply typography-body-regular-body30;
    
    &.accordion-content-rtl {
      @apply pl-11 pr-4;
    }
    
    &.skeleton {
      & .skeleton-item {
        @apply h-3;
      }
    }
  }
  
  .accordion-content-size--small {
    @apply pl-3.5 pb-5.5 pt-2.5 pr-10.5;
    @apply typography-body-regular-body20;
    
    &.accordion-content-rtl {
      @apply pl-10.5 pr-3.5;
    }
    
    &.skeleton {
      & .skeleton-item {
        @apply h-2.5;
      }
    }
  }
  
  .accordion-content-size--x-small {
    @apply pl-3 pb-5 pt-2 pr-9;
    @apply typography-body-regular-body10;
    
    &.accordion-content-rtl {
      @apply pl-10 pr-3;
    }
    
    &.skeleton {
      & .skeleton-item {
        @apply h-2;
      }
    }
  }
  
  /*   ----- Skeleton defaults -------  */
  
  .skeleton-item {
    @apply inline-flex bg-[theme('colors.neutral-on-surface.bright')] w-full;
    
    &:last-of-type {
      @apply w-[75%];
    }
  }
</style>
