<script>
  // lib
  import { onDestroy, onMount } from 'svelte';
  import { createEventDispatcher } from 'svelte';
  // context
  import { getStore, setStore } from './context';
  // constants
  import {
    ACCORDION_SIZES,
    ACCORDION_VARIANTS,
    ACTIONS,
    STATES,
    ACCORDION_DEFAULT_PROPS,
  } from './constants';
  
  /*  ------- Component Props  -------  */
  /**
   * Set to `true` to display the skeleton state
   * @param {boolean} skeleton
   * */
  export let skeleton = ACCORDION_DEFAULT_PROPS.skeleton;
  
  /**
   * Set to `true` to expand only one item at a time
   * @param {boolean} autocollapse
   * */
  export let autocollapse = ACCORDION_DEFAULT_PROPS.autocollapse;
  
  /**
   * Accordion options expands on click or hover
   * @type {"click" | "hover"}
   * */
  export let action = ACCORDION_DEFAULT_PROPS.action;
  
  /**
   * Reverse the icon direction to rtl
   * @type {boolean}
   * */
  export let rtl = ACCORDION_DEFAULT_PROPS.rtl;
  /**
   * Set to true to disable the accordion items
   * @type {boolean}
   * */
  export let disabled = ACCORDION_DEFAULT_PROPS.disabled;
  
  /**
   * Accordion initial state of items
   * @type {"collapsed" | "expanded"}
   * */
  export let state = ACCORDION_DEFAULT_PROPS.state;
  
  export let size = ACCORDION_DEFAULT_PROPS.size;
  
  /**
   * Set to 'fill' or 'border' to display the accordion variants
   * @type {"fill" | "border"}
   */
  export let variant = ACCORDION_DEFAULT_PROPS.variant;
  
  /*  -------  Local variables  -------  */
  let keys = {};
  
  const dispatch = createEventDispatcher();
  
  /* -------  Store  -------  */
  
  // initialize the store with the default props
  setStore({ keys: {}, ...ACCORDION_DEFAULT_PROPS });
  
  const store = getStore();
  
  // when the store changes, update the key prop
  const unsubscribe = store.subscribe((s) => {
    keys = s.keys;
    dispatch('change', { keys });
  });
  
  onMount(() => {
    store.toggleExpanded(state === STATES.expanded);
  });
  
  // when the key prop changes, update the store
  $: store.update((s) => Object.assign(s, {
    keys: { ...s.keys, ...keys },
    autocollapse,
    action,
    state,
    disabled,
    size,
    rtl,
    variant,
    skeleton,
  }));
  
  /* -------  Reactive props  -------  */
  $: action = ACTIONS[action] || ACTIONS.click;
  $: state = STATES[state] || STATES.collapsed;
  $: size = ACCORDION_SIZES[size] || ACCORDION_SIZES.medium;
  $: variant = ACCORDION_VARIANTS[variant] || ACCORDION_VARIANTS.border;
  
  /* -------  Watch for changes and update store -------  */
  $: if (disabled) store.setDisabled(disabled);
  $: store.toggleExpanded(state === STATES.expanded);
  onDestroy(unsubscribe);
</script>

<ul data-testid={skeleton ? 'Accordion-skeleton' : 'Accordion'} class="accordion" {...$$restProps}>
  <li>
    <slot />
  </li>
</ul>
