<script lang="ts">
  // lib
  import { afterUpdate, onMount } from 'svelte';
  // context
  import { getStore, setStore } from './context';
  // components
  import AccordionTitle from "./AccordionTitle.svelte";
  import AccordionContent from "./AccordionContent.svelte";
  // utils
  import { ACCORDION_DEFAULT_PROPS, ACCORDION_SIZES, ACCORDION_VARIANTS, ACTIONS } from "./constants.js";
  
  /* -------- Component props -------- */
  /**
   Manually set the id of the accordion item.
   @type {string}
   */
  export let id = 'item' + Math.random().toString(36).replace('0.','');
  /**
   * Set the accessible title for the accordion item.
   * @type {string}
   */
  export let label = '';
  
  /**
   * Set the text content of the accordion item.
   */
  export let content = '';
  /**
   Set the dedicated accordion item to be expanded.
   @type {boolean}
   */
  export let expanded = false;
  /**
   Set the dedicated accordion item to be disabled.
   @type {boolean}
   */
  export let disabled = false;
  
  /**
   * Specifies the size of spacing and font of the accordion item.
   * @type {'x-small' | 'small' | 'medium' | 'large' | string}
   */
  export let size = ACCORDION_DEFAULT_PROPS.size;
  
  /**
   * Specifies if the arrow icon should be on the right side of the accordion item.
   * @type {boolean}
   */
  export let rtl = ACCORDION_DEFAULT_PROPS.rtl;
  
  /**
   * Specifies if the accordion item in skeleton state.
   * @type {boolean}
   */
  export let skeleton = ACCORDION_DEFAULT_PROPS.skeleton;
  
  /**
   * Specifies the variant of the accordion item.
   * @type {'border' | 'fill' | string}
   */
  export let variant = ACCORDION_DEFAULT_PROPS.variant;
  
  /* -------- Store -------- */
  
  let store: any = getStore();
  
  if(!store) {
    store = setStore({});
  }
  
  onMount(() => {
    store?.setDisabledById(id, disabled);
  });
  
  afterUpdate(() => {
    if(disabled) {
      store?.setDisabledById(id, disabled);
    }
  });
  
  /* -------- Local Variables -------- */
  $: size = $store?.size || ACCORDION_SIZES[size];
  $: variant = ACCORDION_VARIANTS[variant] || ACCORDION_VARIANTS.border;
  $: store?.setItemStateById(id, expanded);
  
  /* -------- Shared params -------- */
  $: params = {
    expanded: $store?.keys[id],
    disabled: disabled || $store?.disabled,
    size,
    variant: $store?.variant || variant,
    rtl: $store?.rtl || rtl,
    action: $store.action,
    mouseenter: $store.action === ACTIONS.hover ? handleCollapse : undefined,
    click: $store.action === ACTIONS.click ? handleCollapse : undefined,
    skeleton: $store?.skeleton || skeleton,
  }
  
  /* -------- Methods -------- */
  const handleCollapse = () => {
    store?.setItemStateById(id, !$store.keys[id], $store.autocollapse);
  }
</script>

{#if params.skeleton}
  <div
    data-testid="Accordion-item-skeleton"
    class="accordion-item animate-pulse"
    class:accordion-variant--fill={params.variant === ACCORDION_VARIANTS.fill}
  >
    <AccordionTitle
      skeleton={true}
      key={id}
      label={label}
      disabled={params.disabled}
      variant={params.variant}
      size={params.size}
      rtl={params.rtl}
      expanded={params.expanded}
    />
    <AccordionContent
      skeleton={true}
      expanded={params.expanded}
      disabled={params.disabled}
      size={params.size}
      rtl={params.rtl}
    />
  </div>
{:else}
  <div
    data-testid="Accordion-item"
    class={`accordion-item`}
    class:accordion-variant--fill={params.variant === ACCORDION_VARIANTS.fill}
    class:accordion-item-disabled={params.disabled}
  >
    <AccordionTitle
      key={id}
      label={label}
      expanded={$store?.keys[id]}
      disabled={params.disabled}
      size={size}
      rtl={params.rtl}
      variant={params.variant}
      on:mouseenter={params.mouseenter}
      on:click={params.click}
    >
      {#if $$slots.title}
        <span><slot name="title"/></span>
      {:else}
        <span>{label}</span>
      {/if}
    </AccordionTitle>
    <AccordionContent
      key={id}
      size={size}
      rtl={params.rtl}
      skeleton={skeleton}
      disabled={params.disabled}
      expanded={$store?.keys[id]}
    >
      {#if content}
        {content}
      {:else}
        <slot />
      {/if}
    </AccordionContent>
  </div>
{/if}

<style lang="postcss">
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  .accordion-item {
    @apply flex flex-col justify-start;
    @apply border-0 border-t border-solid border-[theme('colors.neutral-border.cloudy')];
    @apply list-none font-sans typography-body-regular-body30;
  }
  
  .accordion-item-disabled {
    @apply border-slate-300;
  }
  
  .accordion-variant--fill {
    @apply rounded-lg border-none my-0.5 bg-[theme('colors.neutral-surface.subtle')];
    
    & :global(.accordion-button) {
      &:focus, &:focus-visible, &:focus-within {
        @apply outline-none;
      }
    }
    
    &:focus, &:focus-within, &:focus-visible {
      @apply outline outline-3 outline-offset-[-3px] outline-[theme('colors.primary-border.ring')];
    }
  }
</style>
