<script context="module">
	import { Button } from '../../lib/packages/button/src';
	import {
		BUTTON_SHAPES,
		BUTTON_TYPES,
		BUTTON_SIZES
	} from '../../lib/packages/button/src/Button.svelte';
	import { FIGMA_DESIGN_SOURCES } from '../constants';

	export const meta = {
		title: 'Components/Button',
		component: Button,
		parameters: {
			controls: { expanded: true },
			actions: { argTypesRegex: '^on.*' },
			design: {
				type: 'figma',
				url: FIGMA_DESIGN_SOURCES.BUTTON
			}
		},
		argTypes: {
			size: {
				category: 'properties',
				control: {
					type: 'select'
				},
				description: 'Specify the size of the button',
				table: {
					defaultValue: {
						summary: 'medium'
					}
				},
				options: Object.keys(BUTTON_SIZES)
			},
			type: {
				category: 'properties',
				description: 'Specify the type of the button',
				table: {
					defaultValue: {
						summary: 'primary'
					}
				},
				control: {
					type: 'select'
				},
				options: Object.keys(BUTTON_TYPES)
			},
			animation: {
				category: 'properties',
				description: 'Specify the animation of the button',
				table: {
					defaultValue: {
						summary: 'false'
					}
				},
				control: {
					type: 'boolean'
				}
			},
			outline: {
				category: 'properties',
				description: 'Specify the outline variant of the button',
				table: {
					defaultValue: {
						summary: 'false'
					}
				},
				control: {
					type: 'boolean'
				}
			},
			shape: {
				category: 'properties',
				description: 'Specify the shape of the button',
				table: {
					defaultValue: {
						summary: 'rounded'
					}
				},
				control: {
					type: 'select'
				},
				options: Object.keys(BUTTON_SHAPES)
			},
			rtl: {
				category: 'properties',
				description: 'Specify the direction of the button',
				table: {
					defaultValue: {
						summary: 'false'
					}
				},
				control: {
					type: 'boolean'
				}
			},
			disabled: {
				category: 'properties',
				description: 'Specify the disabled state of the button',
				table: {
					defaultValue: {
						summary: 'false'
					}
				},
				control: {
					type: 'boolean'
				}
			},
			skeleton: {
				category: 'properties',
				description: 'Specify the skeleton state of the button',
				table: {
					defaultValue: {
						summary: 'false'
					}
				},
				control: {
					type: 'boolean'
				}
			},
			href: {
				category: 'properties',
				description: 'Specify the href if the button is a link',
				table: {
					defaultValue: {
						summary: ''
					}
				},
				control: {
					type: 'text'
				}
			},
			on: {
				click: 'Button clicked',
				focus: 'Button hovered',
				mouseenter: 'Button mouseenter',
				mouseleave: 'Button mouseleave'
			}
		}
	};
</script>

<script>
	import { Story } from '@storybook/addon-svelte-csf';
	import EnvelopeSolid from '../EnvelopeSolid.svelte';

	export let defaultArgs = {
		size: 'medium',
		type: 'primary',
		disabled: false,
		shape: 'rounded',
		animation: false,
		outline: false,
		rtl: false,
		skeleton: false,
		href: '',
		on: {
			click: () => 'Button clicked',
			focus: () => 'Button hovered',
			mouseenter: () => 'Button mouseenter',
			mouseleave: () => 'Button mouseleave'
		}
	};
</script>

<!-- Playground -->
<Story name="Playground" let:args args={defaultArgs}>
	<Button {...args}>Button Label</Button>
</Story>

<!--Button Types-->
<Story name="Types" source let:args args={defaultArgs}>
	<div class="flex gap-5 mb-3.5 justify-center flex-wrap">
		<Button {...args} type="primary">Button Label</Button>
		<Button {...args} type="secondary">Button Label</Button>
		<Button {...args} type="tertiary">Button Label</Button>
		<Button {...args} type="clear">Button Label</Button>
		<Button {...args} type="error">Button Label</Button>
		<Button {...args} type="warning">Button Label</Button>
	</div>
	<p class="mb-3.5 text-gray-500 text-lg">Buttons outline variant</p>

	<div class="flex gap-5 mb-3.5 justify-center flex-wrap">
		<Button {...args} type="primary" outline={true}>Button Label</Button>
		<Button {...args} type="secondary" outline={true}>Button Label</Button>
		<Button {...args} type="tertiary" outline={true}>Button Label</Button>
		<Button {...args} type="clear" outline={true}>Button Label</Button>
		<Button {...args} type="error" outline={true}>Button Label</Button>
		<Button {...args} type="warning" outline={true}>Button Label</Button>
	</div>
</Story>

<!--Button Sizes-->
<Story name="Sizes" source let:args args={defaultArgs}>
	<div class="mb-3.5 flex justify-center flex-wrap gap-2">
		<Button {...args} size="large">Button Label</Button>
		<Button {...args} size="medium">Button Label</Button>
		<Button {...args} size="small">Button Label</Button>
		<Button {...args} size="x-small">Button Label</Button>
	</div>
</Story>

<!--Button Full Width-->
<Story name="Full Width" source let:args args={defaultArgs}>
	<div class="mb-3.5 flex justify-center flex-wrap gap-2">
		<Button {...args} stretch={true}>Button Label</Button>
	</div>
	<div class="mb-3.5 flex justify-center flex-wrap gap-2">
		<Button {...args} stretch={true} outline={true}>Button Label</Button>
	</div>
</Story>

<!--Button Shapes-->
<Story name="Rounded Shape" source let:args args={defaultArgs}>
	<div class="mb-3.5 flex justify-center gap-2">
		<Button {...args} shape="none">Button Label</Button>
		<Button {...args} shape="rounded">Button Label</Button>
		<Button {...args} shape="rounded-full">Button Label</Button>
	</div>
</Story>

<!--Button Skeleton-->
<Story name="Skeleton" source let:args args={defaultArgs}>
	<div class="mb-3.5 flex justify-center items-center flex-wrap gap-2">
		<Button {...args} skeleton size="large">Button Label</Button>

		<Button {...args} skeleton size="medium">Button Label</Button>

		<Button {...args} skeleton size="small">Button Label</Button>

		<Button {...args} skeleton size="x-small">Button Label</Button>
	</div>
</Story>

<!--Link Button-->
<Story name="Link Button" source let:args args={{ ...defaultArgs, href: 'https://github.com' }}>
	<div class="mb-3.5 flex justify-center">
		<Button {...args} href={args.href}>Button Label</Button>
	</div>
</Story>

<!--Outline Button-->
<Story name="Outline" source let:args args={defaultArgs}>
	<div class="mb-3.5 flex justify-center flex-wrap gap-2">
		<Button {...args} type="primary" outline={true}>Button Label</Button>
		<Button {...args} type="secondary" outline={true}>Button Label</Button>
		<Button {...args} type="tertiary" outline={true}>Button Label</Button>
		<Button {...args} type="error" outline={true}>Button Label</Button>
		<Button {...args} type="warning" outline={true}>Button Label</Button>
		<Button {...args} type="clear" outline={true}>Button Label</Button>
	</div>
</Story>

<!--Button Icons-->
<Story name="Button Icon" source let:args args={defaultArgs}>
	<div class="mb-3.5 flex justify-center flex-wrap gap-2">
		<Button {...args} type="primary">
			<EnvelopeSolid class="w-4 h-4" />
		</Button>
		<Button {...args} type="secondary">
			<EnvelopeSolid class="w-4 h-4" />
		</Button>
		<Button {...args} type="tertiary">
			<EnvelopeSolid class="w-4 h-4" />
		</Button>
		<Button {...args} type="error">
			<EnvelopeSolid class="w-4 h-4" />
		</Button>
		<Button {...args} type="warning">
			<EnvelopeSolid class="w-4 h-4" />
		</Button>
		<Button {...args} type="clear">
			<EnvelopeSolid class="w-4 h-4" />
		</Button>
	</div>
	<!--  Outline Button with the icon on the left -->
	<div class="mb-3.5 flex justify-center flex-wrap gap-2">
		<Button {...args} outline={true} type="primary">
			<EnvelopeSolid class="w-4 h-4" />
		</Button>
		<Button {...args} outline={true} type="secondary">
			<EnvelopeSolid class="w-4 h-4" />
		</Button>
		<Button {...args} outline={true} type="tertiary">
			<EnvelopeSolid class="w-4 h-4" />
		</Button>
		<Button {...args} outline={true} type="error">
			<EnvelopeSolid class="w-4 h-4" />
		</Button>
		<Button {...args} outline={true} type="warning">
			<EnvelopeSolid class="w-4 h-4" />
		</Button>
		<Button {...args} outline={true} type="clear">
			<EnvelopeSolid class="w-4 h-4" />
		</Button>
	</div>
</Story>

<!--Button RTL-->
<Story name="RTL" source let:args args={defaultArgs}>
	<!--  Outline Button with the icon and RTL-->
	<div class="mb-3.5 flex justify-center flex-wrap gap-2">
		<Button {...args} outline={true} type="primary" rtl={true}>
			<EnvelopeSolid class="w-4 h-4" />
			Button Label
		</Button>
		<Button {...args} outline={true} type="secondary" rtl={true}>
			<EnvelopeSolid class="w-4 h-4" />
			Button Label
		</Button>
		<Button {...args} outline={true} type="tertiary" rtl={true}>
			<EnvelopeSolid class="w-4 h-4" />
			Button Label
		</Button>
		<Button {...args} outline={true} type="error" rtl={true}>
			<EnvelopeSolid class="w-4 h-4" />
			Button Label
		</Button>
		<Button {...args} outline={true} type="warning" rtl={true}>
			<EnvelopeSolid class="w-4 h-4" />
			Button Label
		</Button>
		<Button {...args} outline={true} type="clear" rtl={true}>
			<EnvelopeSolid class="w-4 h-4" />
			Button Label
		</Button>
	</div>
	<!--  Regular Button with an icon and RTL -->
	<div class="mb-3.5 flex justify-center flex-wrap gap-2">
		<Button {...args} type="primary" rtl={true}>
			<EnvelopeSolid class="w-4 h-4" />
			Button Label
		</Button>
		<Button {...args} type="secondary" rtl={true}>
			<EnvelopeSolid class="w-4 h-4" />
			Button Label
		</Button>
		<Button {...args} type="tertiary" rtl={true}>
			<EnvelopeSolid class="w-4 h-4" />
			Button Label
		</Button>
		<Button {...args} type="error" rtl={true}>
			<EnvelopeSolid class="w-4 h-4" />
			Button Label
		</Button>
		<Button {...args} type="warning" rtl={true}>
			<EnvelopeSolid class="w-4 h-4" />
			Button Label
		</Button>
		<Button {...args} type="clear" rtl={true}>
			<EnvelopeSolid class="w-4 h-4" />
			Button Label
		</Button>
	</div>
</Story>

<!-- Button with svg icon -->
<Story name="Custom Icon Slot" source let:args args={defaultArgs}>
	<div class="mb-3.5 flex justify-center">
		<Button {...args}>
			<svg aria-hidden="true" fill="#e1e0e0" width="1.5rem" height="1.5rem" viewBox="0 0 20 20">
				<g>
					<path d="M10,1a9,9,0,1,0,9,9A9,9,0,0,0,10,1Zm1,15H9V14h2Zm0-4H9L8.76,4h2.45Z" />
				</g>
			</svg>
		</Button>
	</div>
</Story>

<!-- Disabled Button -->
<Story name="Disabled" source let:args args={defaultArgs}>
	<p class="mb-3.5 text-gray-500 text-lg text-center">Regular</p>

	<p class="mb-3.5 text-gray-500 text-lg text-center">Large size</p>
	<div class="flex gap-5 mb-3.5 justify-center flex-wrap">
		<Button {...args} size="large" disabled={true} type="primary">Button Label</Button>
		<Button {...args} size="large" disabled={true} type="secondary">Button Label</Button>
		<Button {...args} size="large" disabled={true} type="tertiary">Button Label</Button>
		<Button {...args} size="large" disabled={true} type="error">Button Label</Button>
		<Button {...args} size="large" disabled={true} type="warning">Button Label</Button>
		<Button {...args} size="large" disabled={true} type="clear">Button Label</Button>
	</div>

	<p class="mb-3.5 text-gray-500 text-lg text-center">Medium size</p>
	<div class="flex gap-5 mb-3.5 justify-center flex-wrap">
		<Button {...args} disabled={true} type="primary">Button Label</Button>
		<Button {...args} disabled={true} type="secondary">Button Label</Button>
		<Button {...args} disabled={true} type="tertiary">Button Label</Button>
		<Button {...args} disabled={true} type="error">Button Label</Button>
		<Button {...args} disabled={true} type="warning">Button Label</Button>
		<Button {...args} disabled={true} type="clear">Button Label</Button>
	</div>

	<p class="mb-3.5 text-gray-500 text-lg text-center">Small size</p>
	<div class="flex gap-5 mb-3.5 justify-center flex-wrap">
		<Button {...args} size="small" disabled={true} type="primary">Button Label</Button>
		<Button {...args} size="small" disabled={true} type="secondary">Button Label</Button>
		<Button {...args} size="small" disabled={true} type="tertiary">Button Label</Button>
		<Button {...args} size="small" disabled={true} type="error">Button Label</Button>
		<Button {...args} size="small" disabled={true} type="warning">Button Label</Button>
		<Button {...args} size="small" disabled={true} type="clear">Button Label</Button>
	</div>

	<p class="mb-3.5 text-gray-500 text-lg text-center">X-small size</p>
	<div class="flex gap-5 mb-3.5 justify-center flex-wrap">
		<Button {...args} size="x-small" disabled={true} type="primary">Button Label</Button>
		<Button {...args} size="x-small" disabled={true} type="secondary">Button Label</Button>
		<Button {...args} size="x-small" disabled={true} type="tertiary">Button Label</Button>
		<Button {...args} size="x-small" disabled={true} type="error">Button Label</Button>
		<Button {...args} size="x-small" disabled={true} type="warning">Button Label</Button>
		<Button {...args} size="x-small" disabled={true} type="clear">Button Label</Button>
	</div>

	<p class="mb-3.5 text-gray-500 text-lg text-center">Outline</p>

	<p class="mb-3.5 text-gray-500 text-lg text-center">Large size</p>
	<div class="flex gap-5 mb-3.5 justify-center flex-wrap">
		<Button {...args} size="large" disabled={true} type="primary" outline={true}
			>Button Label</Button
		>
		<Button {...args} size="large" disabled={true} type="secondary" outline={true}
			>Button Label</Button
		>
		<Button {...args} size="large" disabled={true} type="tertiary" outline={true}
			>Button Label</Button
		>
		<Button {...args} size="large" disabled={true} type="error" outline={true}>Button Label</Button>
		<Button {...args} size="large" disabled={true} type="warning" outline={true}
			>Button Label</Button
		>
		<Button {...args} size="large" disabled={true} type="clear" outline={true}>Button Label</Button>
	</div>
	<p class="mb-3.5 text-gray-500 text-lg text-center">Medium size</p>
	<div class="flex gap-5 mb-3.5 justify-center flex-wrap">
		<Button {...args} disabled={true} type="primary" outline={true}>Button Label</Button>
		<Button {...args} disabled={true} type="secondary" outline={true}>Button Label</Button>
		<Button {...args} disabled={true} type="tertiary" outline={true}>Button Label</Button>
		<Button {...args} disabled={true} type="error" outline={true}>Button Label</Button>
		<Button {...args} disabled={true} type="warning" outline={true}>Button Label</Button>
		<Button {...args} disabled={true} type="clear" outline={true}>Button Label</Button>
	</div>
	<p class="mb-3.5 text-gray-500 text-lg text-center">Small size</p>
	<div class="flex gap-5 mb-3.5 justify-center flex-wrap">
		<Button {...args} size="small" disabled={true} type="primary" outline={true}
			>Button Label</Button
		>
		<Button {...args} size="small" disabled={true} type="secondary" outline={true}
			>Button Label</Button
		>
		<Button {...args} size="small" disabled={true} type="tertiary" outline={true}
			>Button Label</Button
		>
		<Button {...args} size="small" disabled={true} type="error" outline={true}>Button Label</Button>
		<Button {...args} size="small" disabled={true} type="warning" outline={true}
			>Button Label</Button
		>
		<Button {...args} disabled={true} size="small" type="clear" outline={true}>Button Label</Button>
	</div>
	<p class="mb-3.5 text-gray-500 text-lg text-center">X-small size</p>
	<div class="flex gap-5 mb-3.5 justify-center flex-wrap">
		<Button {...args} size="x-small" disabled={true} type="primary" outline={true}
			>Button Label</Button
		>
		<Button {...args} size="x-small" disabled={true} type="secondary" outline={true}
			>Button Label</Button
		>
		<Button {...args} size="x-small" disabled={true} type="tertiary" outline={true}
			>Button Label</Button
		>
		<Button {...args} size="x-small" disabled={true} type="error" outline={true}
			>Button Label</Button
		>
		<Button {...args} size="x-small" disabled={true} type="warning" outline={true}
			>Button Label</Button
		>
		<Button {...args} disabled={true} size="x-small" type="clear" outline={true}
			>Button Label</Button
		>
	</div>
</Story>

<!-- Button with animation -->
<Story name="Animate" source let:args args={defaultArgs}>
	<div class="mb-3.5 flex justify-center flex-wrap gap-6">
		<Button {...args} animation={true}>Button Label</Button>
		<Button {...args} animation={true} outline>Button Label</Button>
	</div>
</Story>
