<script lang="ts" context="module">
  export const SPINNER_COLORS = {
    primary: 'primary',
    secondary: 'secondary',
    tertiary: 'tertiary',
    neutral: 'neutral',
  } as const;
  
  export const SPINNER_SIZES = {
    '4': 'size-4',
    '4.5': 'size-4.5',
    '5': 'size-5',
    '6': 'size-6',
    '7': 'size-7',
    '8': 'size-8',
    '9': 'size-9',
    '10': 'size-10',
    '10.5': 'size-10.5',
    '11': 'size-11',
    '11.5': 'size-11.5',
    '12': 'size-12',
    '13': 'size-13',
    '14': 'size-14',
  }
  
  export const SPINNER_DEFAULTS = {
    color: SPINNER_COLORS.primary,
    size: '4.5'
  }
</script>

<script lang="ts">
  import { twMerge } from 'tailwind-merge';
  export let color: keyof typeof SPINNER_COLORS | 'custom' | undefined = SPINNER_DEFAULTS.color;
  export let customColor: string = '';
  export let size: string | number = SPINNER_DEFAULTS.size;
  export let currentFill: string = 'currentFill';
  export let currentColor: string = 'currentColor';
  
  export let inverse: boolean = false;
  
  $: fillColorClasses = {
    primary: 'fill-primary-surface-bright text-primary-on-surface-fixed-light',
    secondary: 'fill-secondary-surface-cloudy text-secondary-on-surface-default',
    tertiary: 'fill-tertiary-surface-default/20 text-tertiary-on-surface-fixed-light',
    neutral: 'fill-secondary-surface-default text-neutral-on-surface-default',
    custom: customColor
  };
  
  $: inverseColorClasses = {
    primary: 'fill-primary-surface-subtle text-primary-surface-default',
    secondary: 'fill-secondary-surface-dim/20 text-secondary-on-surface-fixed-light',
    tertiary: 'fill-tertiary-surface-default/20 text-tertiary-on-surface-default',
    neutral: 'fill-secondary-surface-default text-neutral-on-surface-fixed-light',
    custom: customColor
  };
  
  // $: console.log('fillColorClasses', fillColorClasses);
  
  $: size = SPINNER_SIZES[size] ? size : SPINNER_DEFAULTS.size;
  $: colorClasses = inverse ? inverseColorClasses : fillColorClasses;
  
  $: console.log('fillColorClass', colorClasses[color]);
  
  $: fillColorClass = color === undefined ? '' : colorClasses[color] ?? fillColorClasses.primary;
</script>

<svg
  {...$$restProps}
  class={twMerge('inline animate-spin', SPINNER_SIZES[size], fillColorClass, $$props.class)}
  role="status"
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="-0.5 -0.5 69 69"
>
  <path d="M68 34C68 52.7777 52.7777 68 34 68C15.2223 68 0 52.7777 0 34C0 15.2223 15.2223 0 34 0C52.7777 0 68 15.2223 68 34ZM10.6018 34C10.6018 46.9225 21.0775 57.3982 34 57.3982C46.9225 57.3982 57.3982 46.9225 57.3982 34C57.3982 21.0775 46.9225 10.6018 34 10.6018C21.0775 10.6018 10.6018 21.0775 10.6018 34Z" fill={currentFill} stroke="transparent"/>
  <path d="M5.30089 34C2.37329 34 -0.042305 36.3876 0.412285 39.2797C1.5223 46.3415 4.84018 52.9234 9.95837 58.0416C15.0766 63.1598 21.6585 66.4777 28.7203 67.5877C31.6124 68.0423 34 65.6267 34 62.6991C34 59.7715 31.5969 57.458 28.7442 56.8004C24.503 55.8226 20.582 53.6721 17.455 50.545C14.3279 47.418 12.1774 43.497 11.1996 39.2558C10.542 36.4031 8.22849 34 5.30089 34Z" stroke={currentColor} fill={currentColor}/>
</svg>