<script>
  import AccordionItem from "../src/AccordionItem.svelte";
  export let Component;
</script>

<svelte:component this={Component} {...$$restProps}>
  <AccordionItem label="Option 1">
    Option 1 Description
  </AccordionItem>
  <AccordionItem label="Option 2">
    Option 2 Description
  </AccordionItem>
</svelte:component>

