<script>
  import AccordionItem from "../src/AccordionItem.svelte";
</script>

<AccordionItem
  {...$$props.root}
  label={$$props.label}
  content={$$props.content}
>
  <span slot="title">{$$props.titleSlot}</span>
  
  {#if $$props.contentSlot}
    {$$props.contentSlot}
  {/if}
</AccordionItem>

